@media all and (max-width: 35em) {
  .coleci-section .ui-block-a,
  .coleci-section .ui-block-b,
  .coleci-section .ui-block-c,
  .coleci-section .ui-block-d,
  .coleci-section .ui-block-e {
    width: 100%;
    float:none;
  }
}
 
@media all and (min-width: 45em) {
    .coleci-section.ui-grid-a .ui-block-a { width: 20%; }
    .coleci-section.ui-grid-a .ui-block-b { width: 80%; }
}

#client {
width: 10%;
float: left;
}

#data {
width: 90%;
}

img.paused {
    -webkit-filter: blur(5px) opacity(30%);
    filter: blur(5px) opacity(30%);	
}

.album-parent {
	position: relative;
	top: 0;
	left: 0;
}

#currentAlbum {
	position: relative;
	top: 0;
	left: 0;
}

#currentState {
	position: absolute;
	top: 0;
	left: 0;
}

/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}
@media (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch above*/
    .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}
